.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 70%
    width: 150px
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 29%
    right: 8%
    width: 150px
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 62%
    right: 16%
    width: 100px
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.banner-principal__row .banner-principal__img
  max-width: 520px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
.barra-avance__boton--regresar span
  color: white !important
 

.fa-lista
  li
    display: flex !important
    align-items: flex-start
  li:before
    position: relative
    margin-right: 7px
    font-size: 1.4rem 
.banner-interno .banner-interno__fondo
  background-image:  url('../assets/curso/portada/mini-portada.png') !important
.lista-ul--color.color-primario li > i:first-of-type  
  color: $color-primario
.lista-ul--color.color-secundario li > i:first-of-type  
  color: $color-secundario     
.lista-ul--color.color-adicional-1 li > i:first-of-type  
  color: $color-adicional-1  
.lista-ul--color.color-adicional-2 li > i:first-of-type  
  color: $color-adicional-2  
.lista-ol--cuadro.color-primario .lista-ol--cuadro__vineta
  background-color: $color-primario
.bg-color-acento-botones
  background-color: $color-acento-botones
.bg-color-acento-contenido
  background-color: $color-acento-contenido
.bg-color-primario
  background-color: $color-primario
.bg-color-secundario
  background-color: $color-secundario
.bg-color-sistema-texto
  background-color: $color-sistema-texto
.text-color-sistema
  color: $color-sistema-texto !important
.bg-color-adicional-1
  background-color: $color-adicional-1
.ct-color-primario
  color: $color-primario
.w-fit
  width: fit-content
.columns-2
  columns: 2
.tc-sec 
  color: $color-secundario !important
.tc-ac 
  color: $color-acento-contenido !important
.font-italic
  font-style: italic !important
.sin-borde
  border: 0px !important
.br-top
  border-top-left-radius: 20px 
  border-top-right-radius: 20px 
.br-left
  border-top-left-radius: 20px 
  border-bottom-left-radius: 20px 
.br-right
  border-top-right-radius: 20px 
  border-bottom-right-radius: 20px 
.tabs-a__tab__text 
  white-space: normal
.l-circle i.fa-circle
  font-size: 6px
  top: 10px !important
.banner-principal .tarjeta
  @media (max-width: $bp-max-sm)
    background-image: url('../assets/curso/portada/fondo_principal_tablet.png') !important
    background-size: cover
    background-repeat: no-repeat
  @media (max-width: $bp-max-xs)
    background-image: url('../assets/curso/portada/fondo_principal_mob.png') !important
    background-size: cover
    background-repeat: no-repeat


.bg1
  background-color: #FCEFE1
.bg2
  background-color: #F2F2DA
.bg3
  background-color: #EAEFE5
.bg4
  background-color: #F9DFC2
.bg5
  background-color:#595941
.bgi-1
  background-image: url('../assets/curso/temas/t2/bg.png')
  background-size: cover
  background-repeat: no-repeat
.bg1.compl
  position: relative
  &::before
    content: ''
    position: absolute
    top: 0
    left: -20%
    width: 20%
    height: 100%
    background-color: #FCEFE1
.bg3.compl
  position: relative
  &::before
    content: ''
    position: absolute
    top: 0
    left: -20%
    width: 20%
    height: 100%
    background-color: #EAEFE5
.bg4.compl
  position: relative
  &::before
    content: ''
    position: absolute
    top: 0
    left: -20%
    width: 20%
    height: 100%
    background-color: #F9DFC2
  &.n-mob
    @media (max-width: $bp-max-md)
      &::before
        display: none
.w-90x
  width: 90px

.slyder-a
  &__btn--sigt, &__btn--atrs
    background-color: $color-acento-botones
    border-color: $color-acento-botones
    opacity: 1  
  &__bullets__item
    background-color: #FFF6C9
    border-color: #FFF6C9
    opacity: 1
    &--active
      background-color: $color-acento-botones
      border-color: $color-acento-botones
.slyder-f__btn i
  color: $color-acento-botones
.acordion
  &__activo
    background-color: #FFF6C9
  &__accion__btn--b
    background-color: $color-acento-botones
    border-color: $color-acento-botones
    color: $white
.b-redo
  border-top-right-radius: 500px
  border-bottom-right-radius: 500px
  .bloque-texto-g__texto
    width: 65%
    border-top-right-radius: 500px
    border-bottom-right-radius: 500px
    padding-right: 7% !important
  @media (max-width: $bp-max-md)
    border-radius: 0px
    .bloque-texto-g__texto
      width: 100%
      border-radius: 0px
      padding-right: 1.5rem !important
.table1
  thead 
    background-color: $color-primario
  tbody
    tr:nth-child(odd)
      background-color: #F6F6F6
    tr td:first-child
      font-weight: bold

.subt
  display: flex
  align-items: center
  gap: 10px
  width: fit-content
  background-color: #604629
  padding: 5px 10px
  border-radius: 500px
  img
    width: 26px
  h3
    color: $white
.list-ico 
  img 
    width: 20px
    min-width: 20px
    margin-right: 7px
.subt2
  display: flex
  align-items: end
  gap: 10px
  width: fit-content
  background-image: url('../assets/curso/temas/t2/bg-subt.svg')
  background-repeat: no-repeat
  background-position: bottom
  padding: 5px 10px
  img
    width: 55px


