.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 70%
    width: 150px
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 29%
    right: 8%
    width: 150px
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 62%
    right: 16%
    width: 100px
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.banner-principal__row .banner-principal__img
  max-width: 520px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption, caption
  font-weight: normal !important
.barra-avance__boton--regresar span
  color: white !important
 

.fa-lista
  li
    display: flex !important
    align-items: flex-start
  li:before
    position: relative
    margin-right: 7px
    font-size: 1.4rem 
.banner-interno .banner-interno__fondo
  background-image:  url('../assets/curso/portada/mini-portada.png') !important
.lista-ul--color.color-primario li > i:first-of-type  
  color: $color-primario
.lista-ul--color.color-secundario li > i:first-of-type  
  color: $color-secundario     
.lista-ul--color.color-adicional-1 li > i:first-of-type  
  color: $color-adicional-1  
.lista-ul--color.color-adicional-2 li > i:first-of-type  
  color: $color-adicional-2  
.lista-ol--cuadro.color-primario .lista-ol--cuadro__vineta
  background-color: $color-primario
.bg-color-acento-botones
  background-color: $color-acento-botones
.bg-color-acento-contenido
  background-color: $color-acento-contenido
.bg-color-primario
  background-color: $color-primario
.bg-color-secundario
  background-color: $color-secundario
.bg-color-sistema-texto
  background-color: $color-sistema-texto
.text-color-sistema
  color: $color-sistema-texto !important
.bg-color-adicional-1
  background-color: $color-adicional-1
.ct-color-primario
  color: $color-primario
.ct-color-acento-botones
  color: $color-acento-botones
.ct-secundario 
  color: $color-secundario !important
.ct-acento-contenido 
  color: $color-acento-contenido !important
.w-fit
  width: fit-content
.columns-2
  columns: 2
.font-italic
  font-style: italic !important
.sin-borde
  border: 0px !important
.br-top
  border-top-left-radius: 20px 
  border-top-right-radius: 20px 
.br-left
  border-top-left-radius: 20px 
  border-bottom-left-radius: 20px 
.br-right
  border-top-right-radius: 20px 
  border-bottom-right-radius: 20px 
.tabs-a__tab__text 
  white-space: normal
.l-circle i.fa-circle
  font-size: 6px
  top: 10px !important
.banner-principal .tarjeta
  @media (max-width: $bp-max-sm)
    background-image: url('../assets/curso/portada/fondo_principal_tablet.png') !important
    background-size: cover
    background-repeat: no-repeat
  @media (max-width: $bp-max-xs)
    background-image: url('../assets/curso/portada/fondo_principal_mob.png') !important
    background-size: cover
    background-repeat: no-repeat


.bg1
  background-color: #FCEFE1
.bg2
  background-color: #F2F2DA
.bg3
  background-color: #EAEFE5
.bg4
  background-color: #F9DFC2
.bg5
  background-color: #595941
.bg6
  background-color: #FFF6C9
.bg7
  background-color: #F9F7F0
.bg8
  background-color: #FCFCF6
.bg9
  background-color: #FFFBE4
.bg10
  background-color:  #DFDFA4
.bg11
  background-color:  #CBC9C0
.bgi-1
  background-image: url('../assets/curso/temas/t2/bg.png')
  background-size: cover
  background-repeat: no-repeat
.bgi-2
  background-image: url('../assets/curso/temas/t1/bg.png')
  background-size: cover
  background-repeat: no-repeat
.bgi-3
  background-image: url('../assets/curso/temas/t1/bg2.png')
  background-size: cover
  background-repeat: no-repeat
.bg1.compl
  position: relative
  &::before
    content: ''
    position: absolute
    top: 0
    left: -20%
    width: 20%
    height: 100%
    background-color: #FCEFE1
.bg3.compl
  position: relative
  &::before
    content: ''
    position: absolute
    top: 0
    left: -20%
    width: 20%
    height: 100%
    background-color: #EAEFE5
.bg4.compl
  position: relative
  &::before
    content: ''
    position: absolute
    top: 0
    left: -20%
    width: 20%
    height: 100%
    background-color: #F9DFC2
  &.n-mob
    @media (max-width: $bp-max-md)
      &::before
        display: none
.bgcolor-1
  background: #DFDFA4
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.bgcolor-2
  background: #366400
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.w-90x
  width: 90px
.w-60x
  width: 60px

.slyder-a
  &__btn--sigt, &__btn--atrs
    background-color: $color-acento-botones
    border-color: $color-acento-botones
    opacity: 1  
  &__bullets__item
    background-color: #FFF6C9
    border-color: #FFF6C9
    opacity: 1
    &--active
      background-color: $color-acento-botones
      border-color: $color-acento-botones
.slyder-f__btn i
  color: $color-acento-botones
.acordion
  &__activo
    background-color: #FFF6C9
  &__accion__btn--b
    background-color: $color-acento-botones
    border-color: $color-acento-botones
    color: $white
.b-redo
  border-top-right-radius: 500px
  border-bottom-right-radius: 500px
  .bloque-texto-g__texto
    width: 65%
    border-top-right-radius: 500px
    border-bottom-right-radius: 500px
    padding-right: 7% !important
  @media (max-width: $bp-max-md)
    border-radius: 0px
    .bloque-texto-g__texto
      width: 100%
      border-radius: 0px
      padding-right: 1.5rem !important
.table1
  thead 
    background-color: $color-primario
  tbody
    tr:nth-child(odd)
      background-color: #F6F6F6
    tr td:first-child
      font-weight: bold
.table2
  thead 
    background-color: $color-primario
  tbody
    tr:nth-child(odd)
      background-color: #F6F6F6
    th 
      font-weight: normal
.t1-3
  .slyder__btn
    background-color: $color-acento-botones
    i
      color: $white


.subt
  display: flex
  align-items: center
  gap: 10px
  width: fit-content
  background-color: #604629
  padding: 5px 10px
  border-radius: 500px
  img
    width: 26px
  h3
    color: $white
.list-ico 
  img 
    width: 20px
    min-width: 20px
    margin-right: 7px
.subt2
  display: flex
  align-items: end
  gap: 10px
  width: fit-content
  background-image: url('../assets/curso/temas/t2/bg-subt.svg')
  background-repeat: no-repeat
  background-position: bottom
  padding: 5px 10px
  img
    width: 55px
.cuad-comp
  background-color: #FFF6C9
  border-radius: 20px
  caption
    border-radius: 0px
  thead
    border-top: 50px solid
    tr
      position: relative
      height: 52px
      th
        background-color: #604629
        color: $white
        border-radius: 30px
        border-color: #604629
        margin-top: -20px !important
        position: absolute
        width: 50%
        &.th1
          left: 0
        &.th2
          right: 0
  tbody
    tr
      td
        vertical-align: top
        padding: 2em
        border-bottom: 1px solid #707070
        &.brc1
          border-right: 5px solid #F0B068
          border-radius: 30px
        &.nbc1
          border-bottom: 0px
        @media (max-width: $bp-max-md)
          padding: 3em 2em


.cursor-pointer.crd_hover_txt
  cursor: pointer
.title 
  background-color: $color-acento-botones
  .icon
    background-color: $color-acento-contenido
    height: 40px
    width: 40px
    border-radius: 100px
    display: flex
    justify-content: center
    align-items: center
    @media (max-width: $bp-max-xs)
      height: 30px
      width: 30px
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
  .crd_hover_txt--body
    position: absolute
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #DFDFA4
  @media (max-width: $bp-max-xs)
    min-height: 320px
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em